<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021647104829-cgrcfohpk45h43roa0bpmdjgpsl89grh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021647104829-cgrcfohpk45h43roa0bpmdjgpsl89grh</string>
	<key>API_KEY</key>
	<string>AIzaSyDTYX2hCS4rzq33ngsDktt1aZsKcerUfTg</string>
	<key>GCM_SENDER_ID</key>
	<string>1021647104829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luqmanbayu.flutterProject1</string>
	<key>PROJECT_ID</key>
	<string>mobileapp1-e42b1</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileapp1-e42b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021647104829:ios:9f8d0108cc9bc02e693354</string>
</dict>
</plist>